html{
    font-family: Inter;
}
body{
    margin: 0 auto;
}
header{
    background-color: #401408;
    padding-left: 20px;
}
.texto-blanco{
    color: #fff;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0;
}
.style-nav{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 40px;
    flex-shrink: 0;
}
.titulo-spanty{
    display: flex;
    flex-direction: row;
}
.spanty-style{
    font-size: 27.153px;
    font-weight: 700;
}
.reg{
    align-self: flex-start;
}
.contact-box{
    background-color: #fff;
    padding: 4px 30px 4px 30px;
    color: #401408;
    height: 50px;
}
.info-header{
    display: flex;
    padding-left: 60px;
}
h1{
    font-size: 72px;
}
.info-h{
    display: flex;
    flex-direction: column;
    padding-right: 20px;
}
.menu-servicios{
    display: flex;
    flex-direction: row;
}
.imagen-header{
    align-self: flex-end;
}
.busqueda-compra{
    display: flex;
    flex-direction: column;
    background: #fff;
    color: black;
    padding: 10px 20px;
    width: 175px;
}
.menu-s{
    display: flex;
    flex-direction: row;
}
.icon{
    align-self: center;
    background: #ECECEC;
    margin-right: 10px;
}
.texto-gris{
    color: #686A79;
    font-size: 12px;
}
.tamano-texto-menu{
    font-size: 14px;
}
.lineas-texto{
    line-height: 5px;
}
.search{
    background: black;
    color: white;
    align-self: center;
    padding: 1px 20px;
    width: 70px;
    justify-content: center;
    display: flex;
    margin-top: auto;
}
.servicios-info{
    display: flex;
    flex-direction: column;
    padding-left: 80px;
}